.searchBox {
    display: flex;
    flex-direction: row;
}

.submitButton {
    font-size: 30px;
    line-height: 36px;
    height: 97px;
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #498CEC;
    padding: 0 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #498CEC
}

.submitButton:hover {
    background-color: #fff;
}

.submitButton:active {
    color: red;
    text-decoration-color: red;
}

.locationName {
    font-size: 50px;
    line-height: 75px
}

.description {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.changeLocation {
    opacity: 60%;
    font-size: 18px;
    line-height: 54px;
    margin-right: 16px;
}

.locationOptions {
    display: flex;
    flex-direction: row;
}

.activeLocation {
    font-size: 18px;
    line-height: 54px;
    margin-right: 16px;
}

.metric {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.celsius {
    padding: 0 20px;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    opacity: 60%;
    font-size: 18px;
    line-height: 54px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.fahrenheit {
    padding: 0 20px;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    opacity: 60%;
    font-size: 18px;
    line-height: 54px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.celsius:focus .fahrenheit:focus {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.4)
}

.metricContainer {
    display: flex;
    flex-direction: row;
    font-size: 28px
}